.main-screen .container{
    display: flex;
    gap: 100px;
    align-items: center;
}

.main-screen__text{
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-screen__img{
    width: calc(50% - 50px);
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
}

.main-screen__button{
    width: 100%;
}


@media (max-width: 820px) {
    .main-screen .container{
        flex-direction: column;
        gap: 20px;
    }
    .main-screen__text {
        width: 100%;
    }
    .main-screen__img{
        width: 100%;
    }
    
}
@media (max-width: 530px) {
    .main-screen__img {
        height: 300px;
    }
}
@media (max-width: 400px) {
    .main-screen h1{
        font-size: 40px;
    }
}