.stack{
    background-color: #000000;
    color: #FFFFFF;
}

.stack__title{
    margin-bottom: 20px;
}

.stack__items{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
}

.stack__item{
    display: block;
    border-radius: 40px;
    background-color: #0D0D0D;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.stack__item *{
    position: relative;
    z-index: 5;
}

.stack__item__bg{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
    opacity: 0.3;
}

.stack__item span{
    font-size: 16px;
    margin-bottom: 30px;
    color: #FFC971;
}

.stack__item__img{
    width: 100%;
    height: 205px;
    border-radius: 8px;
    object-fit: cover;
    object-position: left center;
}

.stack__item__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.2em;
}
.stack__item__list li{
    padding: 7px 10px;
    border: 1px solid #FFC971;
    color: #FFC971;
    width: fit-content;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .stack__item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .stack__item:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .stack__item:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .stack__item:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .stack__item:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .stack__item:nth-child(6) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media (max-width: 1200px) {
    .stack__items{
        display: flex;
        flex-wrap: wrap;
    }
    .stack__item {
        width: calc(50% - 10px);
    }
    .stack__item:nth-child(3n - 6) {
        width: 100%;
    }
    
}

@media (max-width: 820px) {
    .stack__item {
        width: 100%;
        padding: 20px;
    }
}