*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    font-weight: 400;
}

section{
    padding: 100px 0;
}

img{
    display: block;
}

ul, ol{
    list-style: none;
}

.container{
    display: block;
    max-width: 1030px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.button{
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    transition: .1s linear;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background: none;
    line-height: 1.5em;
}

@media (hover: hover) {
    .button:hover{
        background-color: #000000;
        color: #FFF;
    }
}
@media (hover: none) {
    .button:active{
        background-color: #000000;
        color: #FFF;
    }
    
}

h1,h2,h3,h4,h5,h6{
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1em;
}

h1{
    font-size: 46px;
    text-transform: uppercase;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 32px;
}



@media (max-width: 1200px) {
    section{
        padding: 50px 0;
    }
}

@media (max-width: 800px) {
    section{
        padding: 20px 0;
    }
}